<% layout('layouts/boilerplate') %> 
    <div>
        <a href="/campgrounds/new">Add Campground</a>
    </div>
    <h1>All Campgrounds</h1>
    <ul>
        <% for(let campground of campgrounds){ %> 
            <li><a href="/campgrounds/<%=campground._id%>">
                <%= campground.title %></li>
            </a>
        <% } %> 
    </ul>